/***********************************************************************************/
/* CSS Buttons */
/***********************************************************************************/

body, .wp_content, aside.sidebar {

	a.button, li.button a {
		font-size: 18px;
		display: inline-block;
		padding: .35em 1.25em;
		border: 1px solid transparent;
		@include round-corners(5px);
		text-decoration: none;
	}
	
	.red_button {
		color: #FFF;
		background: $red;
		@include all-transition;
		&:hover {
			color: #FFF;
			background: $light_blue;
			text-decoration: none;
			cursor: pointer;
		}
	}
	
	.blue_button, li.blue_button a {
		color: $grey;
		background: $blue;
		@include all-transition;
		&:hover {
			color: #FFF;
			background: $light_blue;
			text-decoration: none;
			cursor: pointer;
		}
	}
	
	.dark_blue_button {
		color: $blue;
		background: $dark_blue;
		@include all-transition;
		&:hover {
			color: #FFF;
			background: $blue;
			text-decoration: none;
			cursor: pointer;
		}
	}

}
