/***********************************************************************************/
/* Wordpress Blog Posts */
/***********************************************************************************/

.wp_content .post_body {
	margin: 1em 0;
	padding-bottom: 1em;
	border-bottom: 2px solid $light_blue;	
	@include clearfix;
	
	.f_copy {
		@include span-columns(8 of 8);
		@include omega();
		padding-left: 1.15em;
	}
	
	.post_meta {
		font-size: 16px;
		color: $grey;
	}
	
	h1 a {
		color: $red;
		font-size: 36px;
		line-height: 1.15em;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 400;
		
		&:hover {
			color: darken($red, 12%);
			text-decoration: none !important;
			border-bottom: none;
		}
	}
	
	h1 {
		font-weight: 400;
	}
	
	p.author_meta {
		color: $light_blue;
		a {
			text-decoration: none;
		}
	}
	
	p.read_more {
		text-align: right;
	}
	
	&:last-child {
		border-bottom: none;
	}
}

// Wp Page Navigation

.wp_content div.wp-pagenavi {

	padding-bottom: 1.5em;
	margin-left: .25em;

	.pages {
		display: none;
	}
	
	a, span {
		border: 1px solid $light_blue;
		
		&:hover {
			text-decoration: none;
			border-color: $grey;
		}
	}
}

// Single Posts

article.single-post {
	padding-left: 2em;
	padding-right: 2em;
}
	