/***********************************************************************************/
/* Wordpress Blog Posts */
/***********************************************************************************/

.wp_content .post_body {	
	@include clearfix;

	.f_image {
		@include span-columns(4 of 8);
	}
	
	.f_copy {
		@include span-columns(4 of 8);
		@include omega();
		padding-left: 1.15em;
	}
	
	.post_meta {
		font-size: 16px;
		color: $grey;
	}
	
	h1 a {
		color: red;
		font-size: 40px;
		text-decoration: none;
		font-weight: 400;
		
		&:hover {
			color: darken(red, 12%);
			text-decoration: none !important;
			border-bottom: none;
		}
	}
	
	h1 {
		font-weight: 400;
	}
}

// Sidebar
aside.sidebar {

	padding-top: 2em;
	padding-bottom: 2em;

	a {
		color: $sidebar_link;
		text-decoration: none;
		@include color-transition;
		
		&:hover {
			color: $sidebar_link_hover;
			text-decoration: underline;
		}
	}
	
	h4 {
		color: $blue;
		text-transform: uppercase;
		font-size: 22px;
	}

	ul {
		margin: 0 0 1em 0;
		li {
			list-style: none;
			padding: .25em .25em .25em 0;
			margin-left: 0;
		}
	}
}

aside.left_sidebar {
	
	h4, ul {
		margin-left: 0;
	}

}

// Wp Page Navigation

.wp_content div.wp-pagenavi {

	padding-bottom: 1.5em;
	margin-left: .25em;

	.pages {
		display: none;
	}
	
	a, span {
		border: 1px solid lighten(blue, 10%);
		
		&:hover {
			text-decoration: none;
			border-color: $grey;
		}
	}
}

// Single Posts

article.single-post {
	padding-left: 2em;
	padding-right: 2em;
}
	