/***********************************************************************************/
/* All Typeography */
/***********************************************************************************/

body {
	font-size: 16px;
	line-height: 1.25em;
	color: $body_color;
	@include museo;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
	line-height: 1.15em;
}

h1 {
	@include goldenbook;
	font-size: 36px;
	color: $h1;
}

h2 {
	@include museo_900;
	font-size: 22px;
	color: $h2;
}

h2.rev {
	color: $h2_rev;
	background: $h2_rev_bg;
	padding: .35em;
}

h3 {
	@include museo_700;
	font-size: 20px;
	color: $h3;
}

h4 {
	@include museo_900;
	font-size: 18px;
	color: $h4;
}

h5 {
	@include museo_900;
	font-size: 16px;
	color: $h5;
}

h6, h7, h8 {
	font-size: .9em;
	color: $h5;
}
