/***********************************************************************************/
/* CSS Variables */
/***********************************************************************************/

$grey: #666;
$color1: #CC0000;
$color2: #FF6600;
$color3: #CCC;

// Add Colors to Items

$button1: $color1;
$button2: $color2;
$button3: $color3;
$button3_text: $color1;


