/***********************************************************************************/
/* CSS Variables */
/***********************************************************************************/

$grey: #DEE8F2;
$red: #CC0000;
$dark_blue: #0B2444;
$blue: #588AC0;
$light_blue: #9BB8D9;


// Add Colors to Items

$h1: $red;
$h2: $blue;
$h2_rev: #FFF;
$h2_rev_bg: $blue;
$h3: $light_blue;
$h4: $red;
$h5: $blue;

$body_color: $dark_blue;
$body_link: $light_blue;
$body_link_hover: $red;

$nav_color: $blue;
$nav_hover: $light_blue;