/*-------------------------------------- Import Files ---------------------------------------*/

@import "bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";
@import "variables";
@import "mixins";
@import "type";
@import "columns";
//@import "local";

/*-------------------------------------- Global Styles ---------------------------------------*/

.mobile_only, .mobileNav {
	display: none;
}

/*-------------------------------------- Structure ---------------------------------------*/

body {
	line-height: 1.2em;
	color: #333;
	background: #e2e2e2;
}

.body_wrapper {
	@include outer-container();
	background: #FFF;
}

/*-------------------------------------- Header ---------------------------------------*/


header {
	position: relative;
	@include span-columns(12);
	@include box-sizing;
	
	.logo {
		@include span-columns(12);
		@include omega();
	}
	
	.mainNav {
		@include span-columns(12);
		@include omega();
		
		ul {
			li {
				
				display: inline-block;
				position: relative;
				
				a {
					display: inline-block;
					color: pink;
					text-decoration: none;
					margin-right: 1.5em;
					@include all-transition;
					
					&:hover {
						
					}
				}
				
				ul {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					width: 200px;
										
					li {
						a {
							&:hover {
								
							}
						}
					}
				}
			}
		}
	}
}

/*-------------------------------------- Search DropDown ---------------------------------------*/

div.searchContain {
	width: 940px;
	clear: left;
	background: #eee;
	padding: 2em 1em 2em;
	@include bottom-shadow;
	position: absolute;
	z-index: 9999;
	top: 160px;
	display: none;
	
	.searchButton {
		display: inline-block;
		position: relative;
		top: 8px;
	}
	
	input[type="text"] {
		padding: .5em 1em;
		font-size: 22px;
		border: none;
		background: transparent;
		color: #999;
	}
}

/*-------------------------------------- Body Content ---------------------------------------*/

.default_page {
	margin: 0;
	@include clearfix;
	padding: 1em;
}


/*-------------------------------------- Footer ---------------------------------------*/

footer {
	clear: left;
	padding: 1em;
	
	.footer_widgets {
		@include clearfix;
	}
	
	.copyright {
		clear: both;
		margin: 2em 0;
	}
}

/*-------------------------------------- Imports ---------------------------------------*/

@import "editor";
@import "buttons";
@import "forms";
@import "pages/home";
@import "pages/faq";
@import "posts";