/*-------------------------------------- Import Files ---------------------------------------*/

@import "bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";
@import "variables";
@import "mixins";
@import "type";
@import "columns";
//@import "local";

/*-------------------------------------- Global Styles ---------------------------------------*/

.mobile_only, .mobileNav {
	display: none;
}

hr {
	height: 2px;
	padding: 0;
	margin: 1em 0;
	border: none;
	background: $light_blue;
}

/*-------------------------------------- Structure ---------------------------------------*/

body {
	line-height: 1.2em;
	color: #333;
	background: #e2e2e2 url('images/bg.jpg') 0 0 repeat;
}

.body_wrapper {
	width: 1024px;
	margin: 0 auto;
	background: $light_blue;
}

div.inside {
	@include outer-container();
}

.default_page {
	background: #FFF;
	position: relative;
}

/*-------------------------------------- Header ---------------------------------------*/


header {
	position: relative;
	width: 100%;
	@include box-sizing;
	background: $blue;
	height: 75px;
	
	.logo {
		@include span-columns(6 of 12);
		h1, a {
			color: #FFF;
			font-size: 42px;
			text-transform: uppercase;
			text-decoration: none;
			margin-top: 25px;
			@include all-transition;
			
			&:hover {
				color: $dark_blue;
			}
		}
		@include omega();
	}
	
	.tagline {
	
		@include span-columns(6 of 12);
		@include omega();
		
		h2 {
			@include museo_700_italic;
			color: $light_blue;
			font-size: 18px;
			text-align: right;
			font-weight: normal;
			margin-top: 30px;
		}
	}
}

.mainNav, .footerNav {
	width: 100%;
	@include clearfix;
	background: $dark_blue;
	
	ul {
	
		li {
			
			display: inline-block;
			position: relative;
			@include museo_900;
			font-size: 18px;
			
			a {
				display: inline-block;
				color: $nav_color;
				text-decoration: none;
				margin-right: 2.5em;
				@include all-transition;
				padding: .7em 0;
				
				&:hover {
					color: $nav_hover;
				}
			}
			
			a.searchTrigger {
				width: 44px;
				height: 44px;
				text-indent: -999em;
				background: url('images/icon_search.png') 0 0 no-repeat;
				@include no-transition;
				margin-right: 0;
				&:hover {
					background-position: 0 -44px;
				}
			}
			
			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 250px;
				z-index: 999;
									
				li {
					a {
						font-size: 16px;
						width: 250px;
						color: $grey;
						background: $blue;
						@include all-transition;
						padding-left: .5em;
						padding-right: .5em;
						text-transform: uppercase;
						
						&:hover {
							color: #FFF;
							background: $light_blue;	
						}
					}
				}
			}
		}
		
		li.hover_nav a {
			color: $light_blue;
		}
	}
}

/*-------------------------------------- Search DropDown ---------------------------------------*/

div.searchContain {
	width: 1024px;
	clear: left;
	background: $grey;
	padding: 2em 1em 2em;
	@include bottom-shadow;
	position: absolute;
	z-index: 9999;
	top: 150px;
	display: none;
	
	.searchButton {
		display: inline-block;
		position: relative;
		top: 8px;
	}
	
	input[type="text"] {
		padding: .5em 1em;
		font-size: 22px;
		border: none;
		background: transparent;
		color: $blue;
	}
}

body.customize-support div.searchContain {
	top: 150px;
}

body div.searchContain {
	top: 118px;
}
/*-------------------------------------- Page Layouts ---------------------------------------*/

.default_page {
	margin: 0;
	@include clearfix;
	padding: 0 1.25em;
}

.no_sidebar {
	background: #FFF;
}

.left_sidebar {
	background: url('images/bg_page-left.jpg') 0 0 repeat-y;
}

.right_sidebar {
	background: url('images/bg_page-right.jpg') 0 0 repeat-y;
}

.landing_page {
	background: $dark_blue;
	padding-top: 6em;
}

/*-------------------------------------- Sidebar Bottom ---------------------------------------*/

.sidebar_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	@include span-columns(4 of 12);
	width: 312px;
	background: $blue;
	@include omega();
	padding: 1em 0;
	text-align: center;
	
	.button {
		width: 240px;
		text-transform: uppercase;
		padding-top: .5em;
		padding-bottom: .5em;
	}
	
	.dark_blue_button:hover {
		background: darken($dark_blue, 4%);
	}
}

/*-------------------------------------- Footer ---------------------------------------*/

footer {
	clear: left;
	padding: 1em;
	background: $dark_blue;
	color: $blue;
	
	.footer_widgets {
		@include clearfix;
	}
	
	.copyright {
		clear: both;
		margin: 2em 0 1em 0;
		font-size: 12px;
	}
}

/*-------------------------------------- Imports ---------------------------------------*/

@import "editor";
@import "buttons";
@import "forms";
@import "pages/home";
@import "pages/faq";
@import "posts";
@import "sidebar";